<ion-view hide-nav-bar="true" hide-back-button="true">
    <!--
  <ion-nav-title class="bob" style="font-size: 27px;">
     <img src="logo.svg" >
      Shift
  </ion-nav-title>

  <ion-nav-buttons side="right">
      <button class="button" ng-hide="userdata" ng-click="doSomething()">
      Sign Up
      </button>
      <button class="button" ng-hide="userdata" ng-click="login()">
      Log In
      </button>
      <a menu-close href="#/app/loginpage" class="button" ng-show="userdata"  ng-click="logout()">
        Log Out
      </a>
  </ion-nav-buttons>

-->

  <ion-content style="background-color:	 #4881ea;">
<!--  style=" background-image: url(http://localhost:8100/img/sky-383823_960_720.jpg)" -->
    <div  ng-controller="loginpageController">
<!-- style="background-color:lightblue;"
style="background-color:#00BFFF;"

THIS ONE WORKS:
style=" background-image: url(http://localhost:8100/img/sky-1.jpeg)"

<body style=" background-image: url(http://localhost:3000/images-5.jpeg)">
RoyalBlue: 	#4169E1
DodgerBlue: #1E90FF;
DeepSkyBlue : #00BFFF
facebook blue: #3b5999

background: url(http://localhost:8100/img/sky-1.jpeg) no-repeat;
background-image: url(http://localhost:8100/img/sky-1.jpeg);
 background-image: url("paper.gif");
    <div class="bar bar-header bar-positive">
      <h1 class="title">Register / Sign Up</h1>
    </div>
-->
<!-- Second header information -->


<!--
      <ul class="list">


              <li class="item">
            </li>

      </ul>
<div class="bob3" style="width:500px; margin: 0 auto; text-align: center;" class="card">

-->
<!--
<h1 style="background-color:	 #4881ea; text-align: center; width:200px; margin: 0 auto; font-size: 60px;"
 class="card bob3 item item-divider"> Shift </h1>
-->

      <h1 style="text-align: center; font-size: 60px;" class="bob3"> Shift </h1>

    <div >
        <img class="circular" style="display:block; margin:0 auto; border-style: dotted;" src="img/images-3.jpeg" >

    </div>
</br>

  <!--  <h3 style="text-align: center;">  Freeing Your Time, One Spot at a Time </h2> -->
<!-- Never Line Up Again -->

<!-- This is card HEADER -->

<div class="bob3" style="width:500px; margin: 0 auto; text-align: center;" class="card">

  <div style="font-size: 25px; background-color:	 #4881ea;" class="item item-divider">
  Freeing Your Time, One Spot at a Time
  </div>
</div>

<div class="bob3" style="width:400px; margin: 0 auto; ">

  <!-- This is card -->

<!--
  <div class="card">
   <div class="item item-text-wrap" style="font-size: 25px; background-color:	 #4881ea;">
     This is a basic Card which contains an item that has wrapping text.
   </div>
 </div>
-->

<br>
<br>
 <a style="width:400px; margin: 0 auto;" href="#/app/loginpage" class="button button-calm" ng-click="Appear2()">
  <span class="bob3" style="font-size: 25px;"> Sign Up </span>
</a>

 </br>
</br>

 <a menu-close  style="width:400px; margin: 0 auto;" class="button button-calm" ng-click="login()">
   <span  class="bob3" style="font-size: 25px;"> Log In </span>
 </a>

<!--
  <h4 style="text-align: left;">First Name</h4>

    <label class="item item-input">
      <i class=" placeholder-icon"></i>
      <input type="text" ng-model="firstname"  placeholder="First Name">
    </label>
-->

</div>

</div>

	</ion-content>
</ion-view>
